<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Exercise 5.2</title>
</head>
<body>
  <div class="container" role="main">
    <h2>Name List</h2>
    <% // Start if %>
    <% if (names.length) { %>
      <% // Start for %>
      <% for (var k = 0; k < names.length; k++) { %>
        <% // Set variables %>
        <% items.item = names[k] %>
        <% items.classes = ['alert'] %>
        <% (names[k] == 'Frodo Baggins') ? items.classes.push('alert-success') : '' %>
        <% (names[k] == 'Samwise Gamgee') ? items.classes.push('alert-info')    : '' %>
        <% (names[k] == 'Peregrin Took') ? items.classes.push('alert-warning') : '' %>
        <% (names[k] == 'Meriadoc Brandybuck') ? items.classes.push('alert-danger')  : '' %>

        <% // Send to widget %>
        <% include item-widget %>
      <% // End for %>
      <% } %>
    <% } else { %>

      <% // Set variables %>
      <% items.item = 'No names to list. Add some names soon.' %>
      <% items.classes = [] %>

      <% // Send to widget %>
      <% include item-widget %>
    <% } %>
    <% // End if %>
  </div>
</body>
</html>
