<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Exercise 5.2</title>
</head>
<body>
  <div class="container" role="main">
    <h2>Fruit List</h2>
    <% // Start for %>
    <% for (var k = 0; k < fruits.length; k++) { %>
      <% // Set variables %>
      <% items.item = fruits[k] %>
      <% items.classes = ['alert'] %>
      <% (fruits[k] == 'Apple')      ? items.classes.push('alert-success') : '' %>
      <% (fruits[k] == 'Blueberry')  ? items.classes.push('alert-info')    : '' %>
      <% (fruits[k] == 'Orange')     ? items.classes.push('alert-warning') : '' %>
      <% (fruits[k] == 'Strawberry') ? items.classes.push('alert-danger')  : '' %>

      <% // Send to widget %>
      <% include fruit-widget %>

    <% } %>
    <% // End for %>
  </div>
</body>
</html>
