    <hr>
    <footer class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
      <div class="navbar-nav">
        <p class="nav-link text-center">&copy; Cory Gilliam <%= new Date().getFullYear() %></p>
      </div>
    </footer>
    <% include scripts %>

    <!-- End Content -->
  </body>
</html>
