<% include header %>
<% include navbar %>

<!-- Start main -->
<main>
  <div class="container">
    <h1 class="page-title"><%= title %></h1>

    <% if (typeof body != 'undefined') { %>
      <%= body %>
    <% } %>

    <% if (typeof users != 'undefined') { %>
      <% include list %>
    <% } %>

    <% if (typeof user != 'undefined') { %>
      <% include view %>
    <% } %>

    <% if (typeof addUser != 'undefined') { %>
      <% include new %>
    <% } %>
  </div>
</main>
<!-- End main -->

<% include footer %>
