<% include header %>
<% include navbar %>

<!-- Start main -->
<main>
  <div class="container">
    <h1 class="page-title"><%= pageData.title %></h1>

    <% console.log(pageData)  %>

    <%- include( pageData.template ) %>
  </div>
</main>
<!-- End main -->

<% include footer %>
