<% if (users.length) { %>
  <div class="d-flex flex-wrap mb-3">

    <% for (var index = 0; index < users.length; index++) { %>
      <% include card %>
    <% } %>

  </div>
  <div>
    <a class="btn btn-primary btn" href="/new" role="button">Add a New User</a>
  </div>
<% } else { %>
  <div>
    <a class="btn btn-primary btn-lg" href="/new" role="button">Add a New User</a>
  </div>
<% } %>
