<% if(pageData.employees.length){ %>
  <a href="/new" class="btn btn-primary mb-3">Add New</a>

  <table class="table table‐hover">
    <thead class="thead‐dark">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
      <% pageData.employees.forEach(function(employee){ %>
      <tr>
        <td>
          <%= employee.firstName %>
        </td>
        <td>
          <%= employee.lastName %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  There are no entries! <a href="/new" class="btn btn-primary">Add one!</a>
<% } %>
