<form action="<%= formData.action %>" method="<%= formData.method %>">

  <% if( formData.fields.length ) { %>

    <% for( var index = 0; index < formData.fields.length; index++ ) { %>
      <% var field = formData.fields[index] %>

      <%# Open container div if field is the start %>
      <% if( field.row == 'open' ) { %>
        <div class="row">
      <% } %>

      <%- include( field.template, { field } ) %>

      <%# Close container div if field is the end %>
      <% if( field.row == 'closed' ) { %>
        </div>
      <% } %>
    <% } %>

  <% } %>

  <button type="submit" class="btn btn-primary"><%= formData.submit %></button>

</form>
