<form class="newUser-form" action="" method="post">

  <div class="newUser-container">
    <label class="newUser-label" for="firstName">
      First Name:
      <input class="newUser-input" type="text" name="firstName" id="firstName">
    </label>
  </div>

  <div class="newUser-container">
    <label class="newUser-label" for="lastName">
      Last Name:
      <input class="newUser-input" type="text" name="lastName" id="lastName">
    </label>
  </div>

  <div class="newUser-container">
    <label class="newUser-label" for="position">
      Position:
      <input class="newUser-input" type="text" name="position" id="position">
    </label>
  </div>

  <div class="newUser-container">
    <label class="newUser-label" for="startDate">
      Start Date:
      <input class="newUser-input" type="date" name="startDate" id="startDate">
    </label>
  </div>

  <div class="newUser-container newUser-container-shift">
    <div class="shift">Shift:</div>
    <label for="first"><input type="radio" name="shift" id="first"> First</label>
    <label for="second"><input type="radio" name="shift" id="second"> Second</label>
    <label for="third"><input type="radio" name="shift" id="third"> Third</label>
  </div>
</form>
