<div role="main" class="container">

  <div class="form-group">
    <span>First Name: </span><%= pageData.employee[0].firstName %>
  </div>

  <div class="form-group">
    <span>Last Name: </span><%= pageData.employee[0].lastName %>
  </div>

  <a href="/list" class="btn btn-primary">Employee List</a>
</div>
